.dashboard-container {
  padding: 20px;
  background: #FFFFFF;
  color: white;
  min-height: 90vh;
  border-radius: 20px;
  font-family: 'Inter', sans-serif;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb {
  font-size: 14px;
  color: #6b7280;
}

select {
  background: #111827;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
}

/* TOP SECTION */
.top-widgets {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.time-card {
  width: 260px;
  background: linear-gradient(145deg, #111827, #0b1220);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

.time-icon {
  font-size: 26px;
  color: #2f80ed;
  margin-bottom: 10px;
}

.time {
  font-size: 26px;
  font-weight: bold;
}

.subtle {
  font-size: 12px;
  color: #6b7280;
}

.today-label {
  margin-top: 20px;
  font-size: 13px;
  color: #9ca3af;
}

.date {
  font-size: 14px;
  margin-bottom: 15px;
}

.config-btn {
  width: 100%;
  background: #2563eb;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.stats-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.stat-card {
  background: linear-gradient(145deg, #111827, #0b1220);
  border-radius: 16px;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.stat-card:hover {
  transform: translateY(-4px);
}

.card-icon {
  font-size: 26px;
}

.blue {
  color: #2f80ed;
}

.green {
  color: #27ae60;
}

.red {
  color: #eb5757;
}

.purple {
  color: #9b51e0;
}

/* CHARTS */
.chart-card {
  margin-top: 20px;
  background: linear-gradient(145deg, #111827, #0b1220);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}

.chart-card:hover {
  transform: translateY(-5px);
}

.charts-row {
  display: flex;
  gap: 20px;
}

.chart-card.small {
  flex: 1;
}

.chart-header {
  display: flex;
  justify-content: space-between;
}

.chart-tabs span {
  margin-left: 15px;
  cursor: pointer;
  color: #6b7280;
}

.chart-tabs .active {
  color: #2f80ed;
}

.placeholder {
  text-align: center;
  padding: 40px;
  color: #6b7280;
}

.stat-subtext {
  font-size: 11px;
  margin-top: 2px;
  font-weight: 400;
  opacity: 0.7;
}